.showNavLinksList {
  transform: translate(0%);
}
.none{
  display: none;
}
.right{
  right: 320px;
}
/* ------------------- media ------------------- */
@media all and (min-width: 320px) {
  #next-testimonial {
    top: 117%;
    left: 50px;
  }
  #prev-testimonial {
    top: 117%;
    right: 50px;
  }
} 

@media all and (min-width: 480px) {
  #next-testimonial {
    top: 120%;
    left: 100px;
  }
  #prev-testimonial {
    top: 120%;
    right: 100px;
  }
}

@media all and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
  #next-testimonial {
    top: 50%;
    left: 0;
  }
  #prev-testimonial {
    top: 50%;
    right: 0;
  }
}

