.showNavLinksList {
  transform: translate(0%);
}
/* ------------------- media ------------------- */
@media all and (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
}
/* #next-testimonial {
  top: 115%;
  left: 100px;
}
#prev-testimonial {
  top: 115%;
  right: 100px;
} */
@media all and (min-width: 320px) {
  #next-testimonial {
    top: 117%;
    left: 50px;
  }
  #prev-testimonial {
    top: 117%;
    right: 50px;
  }
} 

@media all and (min-width: 480px) {
  #next-testimonial {
    top: 120%;
    left: 100px;
  }
  #prev-testimonial {
    top: 120%;
    right: 100px;
  }
}

